<!DOCTYPE html>
<html lang=<%= lang %>>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <title>Admin</title>
</head>
<body>
    <table>
        <tr id="top-menu">
            <th id="lang">
                <a href="../eng/admin">EN</a>
                <p>&nbsp/&nbsp</p>
                <a href="../ua/admin">UA</a>
            </th>
            <th>
                <a id="home" href="../../">Home</a>
            </th>
        </tr>
        <tr>
            <td>
                <h1>Hello</h1>               
            </td>
            <td>
                <h1>World</h1>
            </td>
        </tr>
    </table>
    
</body>
</html>