<!DOCTYPE html>
<html lang=<%= lang %>>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <title>Admin</title>
</head>
<body>
    <table>
        <tr id="top-menu">
            <th id="lang">
                <a class="menu" href="../eng/admin">EN</a>
                <p id="sep">&nbsp/&nbsp</p>
                <a class="menu" href="../ua/admin">UA</a>
            </th>
            <th align="right">
                <a class="menu" id="home" href="../../<%= lang %>">Home</a>
            </th>
        </tr>
        <tr>
        <td><div>
            <form action="../api/<%= lang %>/admin/info" method="post">
                <br>
                <label for="name">Name:</label>
                <input id="name" name="name" type="name" required autofocus>
                <br>
                <label for="profession">Profession:</label>
                <input id="profession" name="profession" type="text" required>
                <br>
                <label for="text">Text:</label>
                <textarea id="text" name="text" rows="25" cols="40"></textarea>
                <br>
                <label for="contact">Contacts:</label>
                <textarea id="contact" name="contact" rows="10" cols="40"></textarea>
                <br>
            <button class="button" type="submit">Change data</button>
            <br>
            <br>
            </form>
        </div></td>      
        </tr>
    </table>
    
    <script>
        let infoObj = {};
        let request = new XMLHttpRequest();
        request.open('GET', '../api/<%= lang %>/admin/info');
        request.responseType = 'json';
        request.send();

        request.onload = async() => {
            infoObj = await request.response;
            document.getElementById('name').value = infoObj.name;
            document.getElementById('profession').value = infoObj.profession;
            document.getElementById('text').value = infoObj.text;
            document.getElementById('contact').value = infoObj.contacts;
        }
      </script>
</body>
</html>