<!DOCTYPE html>
<html lang=<%= lang %>>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <title>Summary</title>
</head>
<body>
    <table>
        <tr id="top-menu">
            <th id="lang">
                <a href="./eng">EN</a>
                <p>&nbsp/&nbsp</p>
                <a href="./ua">UA</a>
            </th>
            <th>
                <a id="login" href="./api/<%= lang %>/admin">Login</a>
            </th>
        </tr>
        <tr id="summary">
            <td id="left">
                <img id="photo" src="../pic/photo.jpg">
                <div id="contacts">
                    
                </div>
                
            </td>
            <td id="summary-text">
                <h1 id="name-text"></h1>

            </td>
        </tr>
    </table>
    <script>
        let infoObj = {};
        let request = new XMLHttpRequest();
        request.open('GET', '../api/<%= lang %>/admin/info');
        request.responseType = 'json';
        request.send(); 

        request.onload = async() => {
            infoObj = await request.response;
            document.getElementById('name-text').textContent = infoObj.name;
            // document.getElementById('photo_link').value = infoObj.photo_link;
            document.getElementById('name-text').insertAdjacentHTML("afterend", infoObj.text);
            document.getElementById('photo').insertAdjacentHTML("afterend", infoObj.contacts);
        }
      </script>
</body>
</html>