<!DOCTYPE html>
<html lang=<%= lang %>>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <title>Summary</title>
</head>
<body>
    <table>
        <tr id="top-menu">
            <th id="lang">
                <a href="./eng">EN</a>
                <p>&nbsp/&nbsp</p>
                <a href="./ua">UA</a>
            </th>
            <th>
                <a id="login" href="./api/<%= lang %>/admin">Login</a>
            </th>
        </tr>
        <tr id="summary">
            <td id="left">
                <img src="../pic/photo.jpg">
                <div id="contacts">
                    <h1>Hello</h1>
                </div>
                
            </td>
            <td id="summary-text">
                <h1>World</h1>
            </td>
        </tr>
    </table>
    
</body>
</html>