html{
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
    background:#eeeeee;
}

body {
    margin: 0;
    border: 1px solid rgb(85, 85, 85);
}

h1, h2, h3, h4, h5 {
    text-align: left;
    font-family: 'Verdana', Courier, monospace;
    margin: 5px;  
    margin-left: 43px;
}

h5 {
    margin: 0;
    padding: 0;
}

img {
    width: 20em;
}

table {
    width: 60em;
    height: 100%;
    border-spacing: 0;
}

tr, th, td {
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    font-family: 'Verdana', Courier, monospace;
    /* color: white; */
}

a.menu {
    color: white;
}

#summary-text {
    display: block;
}

#top-menu {
    position: sticky;
    top: 0;
    vertical-align: top;
    background-color: gray;
    height: 50px;
}

#lang {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    text-align: left;
}

#login, #home {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
}

#left {
    vertical-align: top;
    background-color: lightgray;
    width: 20em;
}

#contacts {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

div {
    margin-left: 120px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    margin-left: 60px;
    font-family: 'Verdana', Courier, monospace;
}

p {
    margin-left: 45px;
    margin-right: 40px;
    font-family: 'Verdana', Courier, monospace;
}

#sep {
    margin-left: 0;
    margin-right: 0;
}

#name-text {
    font-family: 'Verdana', Courier, monospace;
    text-align: left;
    font-weight: bold;
    font-size: 350%;
    margin: 40px;
    margin-right: 80px;
}

#profession-text {
    font-family: 'Verdana', Courier, monospace;
    text-align: left;
    font-size: 200%;
    margin: 40px;
}

#separator {
    width: 87%;
    height: 4px;
    background-color:grey;
    border: 0 none;
    margin-bottom:50px;
}

/* #text {
    pointer-events: none; 
} */